
## <summary>policy for saving</summary>


########################################
## <summary>
##	Transition to saving.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`saving_domtrans',`
	gen_require(`
		type saving_t, saving_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, saving_exec_t, saving_t)
')


########################################
## <summary>
##	Execute saving server in the saving domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`saving_initrc_domtrans',`
	gen_require(`
		type saving_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, saving_initrc_exec_t)
')


########################################
## <summary>
##	Search saving lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`saving_search_lib',`
	gen_require(`
		type saving_var_lib_t;
	')

	allow $1 saving_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read saving lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`saving_read_lib_files',`
	gen_require(`
		type saving_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, saving_var_lib_t, saving_var_lib_t)
')

########################################
## <summary>
##	Manage saving lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`saving_manage_lib_files',`
	gen_require(`
		type saving_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, saving_var_lib_t, saving_var_lib_t)
')

########################################
## <summary>
##	Manage saving lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`saving_manage_lib_dirs',`
	gen_require(`
		type saving_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, saving_var_lib_t, saving_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a saving environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`saving_admin',`
	gen_require(`
		type saving_t;
		type saving_initrc_exec_t;
		type saving_var_lib_t;
	')

	allow $1 saving_t:process { ptrace signal_perms };
	ps_process_pattern($1, saving_t)

	saving_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 saving_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, saving_var_lib_t)

')

